
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

body{
    margin: auto;
    font-family: 'Sriracha','Arial', 'sans-serif';
    font-size: 1em;
    height: auto;
    width: auto;
    font-size: clamp(6px, 1.5vw, 28px); 
}

header{
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    
}
h1{
    font-size: 6em;
    margin: auto;
    text-align: center;

    font-family:'Passion one','Arial', 'sans-serif';
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    white-space: pre-line;
    font-size: 3.5em;
}
section:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
}
#b{
    background-image: url(imagens/background001.jpg);
    background-origin: border-box;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 1px 3px 3px black inset;
}
#d{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    color: white;
    width: auto;
    margin: auto;
    height: auto;
    box-shadow: 1px 3px 20px black inset;
    
}
article{
    padding-left: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#d>article{
    background-color: rgba(0, 0, 0, 0.301); 
    width: fit-content;  
}
#b>article{
    background-color: rgba(0, 0, 0, 0.301);
    width: fit-content;  
    background-size: contain;
   }
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer > p{
    margin: 0px;
}